<!DOCTYPE html>
<html>
  <head>
    <style>

    header {
          width: 100%;
          height: 10vh;

    }
      .content {
        font-family: "Helvetica",sans-serif;
        width: 94%;
        margin: 4em auto;
        font-size: 20px;
        line-height: 30px;
        text-align: justify;
      }
      .flip-card {
        border-radius: 15px 50px;
        font-family: "American Typewriter",serif;
        font-weight: lighter;
        background-color: transparent;
        float: left;
        margin: auto;
        margin-left: 50px;
        margin-bottom: 50px;
        width: 600px;
        height: 600px;
        perspective: 1000px;
      }


      .flip-card-inner {
        border-radius: 15px 50px;
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }


      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }

      .flip-card-front, .flip-card-back {
        border-radius: 15px 50px;
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }

      .flip-card-front {
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        background-color: transparent;
        border: solid;
        color:  #556B2F;
      }



      .flip-card-back {
        font-size: 20px;
        border: solid;
        background-color:  #fff;
        color: #556B2F;
        transform: rotateY(180deg);
      }
      .flip-card-front p{
        margin-top: 270px;
      }
      .flip-card-back p{
        margin: 10px;
        text-align: center;
        color: #751717;
        font-family: "Helvetica",sans-serif;
      }
      .flip-card-back #header{
        text-align: center;
        font-weight: bold;
        border-bottom: solid;
        color: #556B2F;

        font-family: "Helvetica",sans-serif;
      }
      .card {
        margin: auto;
        margin-bottom: 20px;
        transition: 0.3s;
        border-radius: 25px;
        font-family: "Helvetica",sans-serif;
        font-weight: lighter;
        background-color: transparent;
        padding: 15px;
        width: 800px;
        height: 900px;
        border: 1px solid #f1f1f1;
      }


      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }

      .container {
        padding: 2px 16px;
      }

      .textbox{
        width: 100%;
        overflow: hidden;
        font-size: 20px;
        padding: 8px 0;
        margin: 15px 0;
        border-bottom: 1px solid #556B2F;
      }
      .textbox i{
        width: 26px;
        float: left;
        text-align: center;
      }
      .textbox input{
        border: none;
        outline: none;
        background: none;
        font-size: 18px;
        width: 80%;
        float: left;
        margin: 0 10px;
      }
      div .delete{
        margin-top: 25px;
        margin-left: 5px;
        float: left;
      }
      div .update{
        margin-top: 25px;
        margin-right: 5px;
        float: right;
      }
      div #ad{
        margin-top: 25px;
        text-align: center;
      }


    </style>
  </head>
  <%- include('../head'); -%>
  <body>
    <header>
      <%- include('../navbar'); -%>
    </header>
    <main>
      <div class="content">
        <%_ if (admin) { -%>
        <form id="create" class="card">
          <div class="textbox">
            <i class="fas fa-calendar-alt"></i>
            <input name="date" type="date" placeholder="Date">
          </div>
          <div class="textbox">
            <i class="fas fa-drumstick-bite"></i>
            <input name="main" type="text" placeholder="Main">
          </div>
          <div class="textbox">
            <i class="fas fa-seedling"></i>
            <input name="salad" type="text" placeholder="Salad">
          </div>
          <div class="textbox">
            <i class="fas fa-bread-slice"></i>
            <input name="side" type="text" placeholder="Side">
          </div>
          <div class="textbox">
            <i class="fas fa-beer"></i>
            <input name="drink" type="text" placeholder="Drink">
          </div>
          <div class="textbox">
            <i class="fas fa-ice-cream"></i>
            <input name="dessert" type="text" placeholder="Dessert">
          </div>
          <div class="textbox">
            <i class="fas fa-edit"></i>
            <input name="note" type="text" placeholder="Note">
          </div>
          <div class="textbox">
            <i class="fas fa-building"></i>
            <input name="location" type="text" placeholder="Location">
          </div>
          <div class="textbox">
            <i class="fas fa-users"></i>
            <input name="capacity" type="number" placeholder="Capacity">
          </div>
          <div class="textbox">
            <i class="fas fa-clock"></i>
            <input name="times" type="text" placeholder="Time">
          </div>
          <div class="textbox">
            <i class="fas fa-clock"></i>
            <input name="times" type="text" placeholder="Time">
          </div>
          <div class="textbox">
            <i class="fas fa-clock"></i>
            <input name="times" type="text" placeholder="Time">
          </div>


          <div id="ad">
              <button type="submit" class="w3-button w3-circle w3-green"><i class="fas fa-plus"></i></button>
          </div>

           </form>
           <%_ } -%>
      <%_ for (const menu of menus) { -%>
             <%_ if (!admin) { -%>
             <div class="flip-card">
             <div class="flip-card-inner">
              <div class="flip-card-front">
                <p><%= menu.date.toDateString() -%></p>
              </div>
              <div class="flip-card-back">
                <p id="header">Main</p>
                <p> <%= menu.main -%></p>
                <p id="header">Side</p>
                <p><%= menu.side -%></p>
                <p id="header">Salad</p>
                <p> <%= menu.salad -%></p>
                <p id="header">Drink</p>
                <p> <%= menu.drink -%></p>
                <p id="header">Dessert</p>
                <p><%= menu.dessert -%></p>
                <p>Note: <%= menu.note -%></p>
              </div>
              </div>
              </div>
                <%_ } -%>
                <%_ if (admin) { -%>
                  <div id="success">

                  </div>
                <form id="<%= menu.id -%>" class="card">
                  <div class="textbox">
                    <i class="far fa-calendar-alt"></i>
                    <input name="date" type="date" value="<%= menu.date.getUTCFullYear()+'-'+String(menu.date.getUTCMonth()+1).padStart(2, '0')+'-'+String(menu.date.getUTCDate()).padStart(2, '0') -%>">
                  </div>

                  <div class="textbox">
                    <i class="fas fa-drumstick-bite"></i>
                    <input name="main" type="text" value="<%= menu.main -%>">
                  </div>
                  <div class="textbox">
                    <i class="fas fa-seedling"></i>
                    <input name="salad" type="text" value="<%= menu.salad -%>">
                  </div>
                  <div class="textbox">
                    <i class="fas fa-bread-slice"></i>
                    <input name="side" type="text" value="<%= menu.side -%>">
                  </div>
                  <div class="textbox">
                    <i class="fas fa-beer"></i>
                    <input name="drink" type="text" value="<%= menu.drink -%>">
                  </div>
                  <div class="textbox">
                    <i class="fas fa-ice-cream"></i>
                    <input name="dessert" type="text" value="<%= menu.dessert -%>">
                  </div>
                  <div class="textbox">
                    <i class="fas fa-edit"></i>
                    <input name="note" type="text" value="<%= menu.note -%>">
                  </div>
                  <div class="textbox">
                    <i class="fas fa-building"></i>
                    <input name="location" type="text" value="<%= menu.location -%>">
                  </div>
                  <div class="textbox">
                    <i class="fas fa-users"></i>
                    <input name="capacity" type="number" value="<%= menu.capacity -%>">
                  </div>
                  <%_ for (const time of menu.times) { -%>
                  <div class="textbox">
                    <i class="fas fa-clock"></i>
                    <input name="times" type="text" value="<%= time -%>">
                  </div>
                  <%_ } -%>
                  <div >
                      <button class="delete w3-button w3-circle w3-red"><i class="fas fa-trash"></i></button>
                      <button class="update w3-button w3-circle w3-blue"><i class="fas fa-save"></i></button>
                  </div>

                   </form>
                   <%_ } -%>

           <%_ } -%>
           </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      // Create a course
      $('#create').on('submit', function(event) {
        const form = $(this);
        event.preventDefault();
        $.ajax({method: 'post', url: '/menus', data: form.serialize()})
          .done(() => window.location.reload())
          .fail(error => alert(error.responseText));
      });
    $('.delete').on('click', function(event) {
      const form = $(this).closest('form');
      const id = form.attr("id");
      event.preventDefault();
      if(confirm("Are you sure you want to delete this menu?")){
        $.ajax({method: 'delete', url: `/menus/${id}`})
          .done(() => window.location.reload())
          .fail(error => alert(error.responseText));
      };
    });

    $('.update').on('click', function(event) {
      const form = $(this).closest('form');
      const id = form.attr("id");
      event.preventDefault();
      $.ajax({method: 'put', url:`/menus/${id}`, data: form.serialize()})
        .fail(error => alert(error.responseText));
        $('#success').append($(`
        <div id="alert1">

  <div class="alert alert-success alert-dismissible fade show">
      <strong>Success! Your change is successful.</strong>
      <button type="submit" class="close" data-dismiss="alert">&times</button>
      </div>

      </div>`
      ));

    });
    $(document).on('click','.close',function(event) {
      const form = $(this);
      event.preventDefault();
      $('#alert1').remove();
    });


    </script>

  </body>
</html>
