<!DOCTYPE html>
<html>
  <head>
    <style>
      .content {
            font-family: "Helvetica",sans-serif;
            width: 94%;
            margin: 4em auto;
            font-size: 20px;
            line-height: 30px;
            text-align: justify;
      }
      .flip-card {
        border-radius: 15px 50px;
        font-family: "American Typewriter",serif;
        font-weight: lighter;
        background-color: transparent;
        float: left;
        padding: 5px;
        margin: 23px;
        width: 400px;
        height: 400px;
        perspective: 1000px;
      }


      .flip-card-inner {
        border-radius: 15px 50px;
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }


      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }

      .flip-card-front, .flip-card-back {
        border-radius: 15px 50px;
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }

      .flip-card-front {
        font-weight: bold;
        font-size: 30px;
        background-color: transparent;
        color:  #556B2F;
      }



      .flip-card-back {

        background-color:  #556B2F;
        color: white;
        transform: rotateY(180deg);
      }
      .flip-card-front p{
        margin-top: 170px;
      }
      .flip-card-back p{
        text-align: left;
        padding: 10;
        margin: 10px;
        font-family: "Helvetica",sans-serif;
      }
      .card {
        transition: 0.3s;
        border-radius: 25px;
        font-family: "Helvetica",sans-serif;
        font-weight: lighter;
        background-color: transparent;
        float: left;
        padding: 5px;
        margin: 23px;
        width: 400px;
        height: 400px;
        border: 1px solid #f1f1f1;
      }


      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }

      .container {
        padding: 2px 16px;
      }
    </style>
  </head>
  <%- include('../head'); -%>
  <%- include('../navbar'); -%>
  <body>
    <main>
        <div class="content">
           <%_ for (const menu of menus) { -%>
             <%_ if (!admin) { -%>
             <div class="flip-card">
             <div class="flip-card-inner">
              <div class="flip-card-front">
                <p><%= menu.date.toDateString() -%></p>
              </div>
              <div class="flip-card-back">
                <p>Main: <%= menu.main -%></p>
                <p>Side: <%= menu.side -%></p>
                <p>Salad: <%= menu.salad -%></p>
                <p>Drink: <%= menu.drink -%></p>
                <p>Dessert: <%= menu.dessert -%></p>
              </div>
              </div>
              </div>
                <%_ } -%>

                <%_ if (admin) { -%>
                <div class="card">
                  <div id="<%= menu.id -%>" class="container">
                   <p><%= menu.date.toDateString() -%></p>
                   <p>Main: <%= menu.main -%></p>
                   <p>Side: <%= menu.side -%></p>
                   <p>Salad: <%= menu.salad -%></p>
                   <p>Drink: <%= menu.drink -%></p>
                   <p>Dessert: <%= menu.dessert -%></p>
                   <button class="delete w3-button w3-circle w3-red"><i class="fa fa-trash"></i></button>
                   </div>
                   </div>
                   <%_ } -%>

           <%_ } -%>
           </div>
    </main>
    <script>
    $('.delete').on('click', function(event) {
      event.preventDefault();
      const id = $(this).parent().attr("id");
      $.ajax({method: 'delete', url: `/menus/${id}`})
        .done(() => window.location.reload())
        .fail(error => alert(error.responseText));
    });
    </script>
  </body>
</html>
