<!DOCTYPE html>
<html>
  <head>
    <style>
      .content {
            font-family: "Helvetica",sans-serif;
            width: 94%;
            margin: 4em auto;
            font-size: 20px;
            line-height: 30px;
            text-align: justify;
      }
      .card{
            position: relative;
            overflow: hidden;
            padding: 10px;
      }
    </style>
  </head>
  <%- include('../head'); -%>
  <%- include('../navbar'); -%>
  <body>
    <main>
      <div class="content">
           <p>
              The sustainability program partnered with the dining service and business in the liberal arts major to develop a student run cafe with the goal of providing locally sourced sustainably grown food.  The sustainability program developed the idea and piloted a run during the Spring of 2019.  The idea developed into a class dedicated to running the cafe during the fall of 2019.  The cafe will partner with many groups on campus to highlight diversity within the campus.  Future goals include expanding the number of nights per week the cafe is open and to increase the number of students served.  We hope to use the cafe to tackle multiple intellectual topics including sustainability, business, culture, cuisine, agriculture, systems thinking and diversity.
           </p>
        </div>
        <div class="content">
           <%_ for (const menu of menus) { -%>
             <div class="card">
               <p><%= menu.date -%></p>
               <p><%= menu.main -%></p>
               <p><%= menu.salad -%></p>
               <p><%= menu.drink -%></p>
               <p><%= menu.dessert -%></p>
             </div>
           <%_ } -%>
     </div>
    </main>
  </body>
</html>
