<!DOCTYPE html>
<html>
  <head>
    <style>

      header {
            width: 100%;
            height: 10vh;

      }

      *{
        margin: 0;
        padding: 0;
        text-decoration: none;

      }


      .form{
        border: solid;
        border-color:#556B2F;
        width: 440px;
        background: #f1f1f1;
        height: 650px;
        padding: 80px 40px;
        border-radius: 15px 50px 50px 15px;
        position: absolute;
        left: 70%;
        top: 55%;
        transform: translate(-50%,-50%);
        margin-top: 40px;
      }

      .form h1{
        text-align: center;
        margin-bottom: 30px;
      }

      .textbox{

        border-bottom: 2px solid #adadad;
        position: relative;
        margin: 30px 0;
      }

      .textbox input{
        font-size: 15px;
        color: #333;
        border: none;
        width: 100%;
        outline: none;
        background: none;
        padding: 0 5px;
        height: 40px;
      }

      .textbox span::before{
        content: attr(data-placeholder);
        position: absolute;
        top: 50%;
        left: 5px;
        color: #adadad;
        transform: translateY(-50%);
        z-index: -1;
        transition: .5s;
      }

      .focus + span::before{
        top: -5px;
      }
      .focus + span::after{
        width: 100%;
      }

      .submitbtn{
        border-radius: 25px;
        display: block;
        width: 100%;
        height: 50px;
        border: none;
        margin-top: 10px;
        background: linear-gradient(120deg,#751717,#556B2F,#556B2F);
        background-size: 200%;
        color: #fff;
        outline: none;
        cursor: pointer;
        transition: .5s;
      }

      .submitbtn:hover{
        background-position: right;
      }

      .bottom-text{
        margin-top: 60px;
        text-align: center;
        font-size: 13px;
      }

      table {
        width: 100%;
      }

      th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      .card{
        margin: auto;
        font-weight:bold;
        width: 1200px;
        position: absolute;

      }
      #menu {
        border: solid;
        border-color:#556B2F;
        width: 440px;
        background: #f1f1f1;
        height: 650px;
        padding: 80px 40px;
        border-radius: 50px 15px 15px 50px;
        position: absolute;
        right: 40%;
        top: 55%;
        transform: translate(-50%,-50%);
        margin-top: 40px;
        margin-bottom: 40px;
      }

      #success{
        margin: 40px;
      }


    </style>
  </head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
  <%- include('../head'); -%>
  <body>
    <header>
      <%- include('../navbar'); -%>
    </header>
    <main>
      <%_ if (!admin) { -%>
        <div id="success">

        </div>
      <div id="menu" class="card">
        <p>Main: <%= menu.main -%></p>
        <p>Side: <%= menu.side -%></p>
        <p>Salad: <%= menu.salad -%></p>
        <p>Drink: <%= menu.drink -%></p>
        <p>Dessert: <%= menu.dessert -%></p>
        <p>Note: <%= menu.note -%></p>
      </div>
      <form id="create" class="form">
        <h1>Reserve!</h1>

        <div class="textbox">
          <input type="text" name="name">
          <span data-placeholder="Name"></span>
        </div>

        <div class="textbox">
          <input type="text" name="email">
          <span data-placeholder="Email"></span>
        </div>

        <div class="textbox">
          <input type="number" name="guests">
          <span data-placeholder="Number of Guests"></span>
        </div>

        <div class="textbox">
          <input type="number" name="h_chairs">
          <span data-placeholder="Number of high chairs"></span>
        </div>

        <div class="textbox">
          <input type="text" name="allergies">
          <span data-placeholder="Food Allergies"></span>
        </div>

        <button type="submit" class="submitbtn">Reserve</button>

      </form>
      <%_ } -%>
      <%_ if (admin) { -%>
        <div class="card" style="overflow-x:auto;">
        <table>
          <tr>
            <th>Name</th>
            <th>Email</th>
  	        <th>Guests</th>
            <th>High-chairs</th>
            <th>Allergies</th>
          </tr>
          <%_ for (const reservation of reservations) { -%>
            <tr>
              <td> <%= reservation.name -%></td>
              <td> <%= reservation.email -%></td>
              <td> <%= reservation.guests -%></td>
              <td> <%= reservation.h_chairs -%></td>
              <td> <%= reservation.allergies -%></td>
            </tr>

        <%_ } -%>
        </table>
        </div>
      <%_ } -%>
      </main>
    <script type="text/javascript">
    $(".textbox input").on("focus",function(){
      $(this).addClass("focus");
    });

    $(".textbox input").on("blur",function(){
      if($(this).val() == "")
      $(this).removeClass("focus");
    });

    $('#create').on('submit', function(event) {
      const form = $(this);
      const menu = $('#menu')
      event.preventDefault();
      $.ajax({method: 'post', url: '/reservations', data: form.serialize()})
        .done(function(){
          $('#success').append($(`
          <div id="alert1">

    <div class="alert alert-success alert-dismissible fade show">
        <strong>Success! You have successfully reserved a table.</strong>
        <button type="submit" class="close" data-dismiss="alert">&times</button>
        </div>

        </div>`
        ));
        form.remove();
        menu.remove();
        })
        .fail(error => alert(error.responseText));


    });
    $(document).on('click','.close',function(event) {
      const form = $(this);
      event.preventDefault();
      $('#alert1').remove();
    });
    </script>
  </body>
</html>
