<!DOCTYPE html>
<html>
  <head>
    <style>

      header {
            width: 100%;
            height: 10vh;
      }

      *{
        margin: 0;
        padding: 0;
        text-decoration: none;
      }


      .form{
        border: solid;
        border-color:#556B2F;
        width: 440px;
        background: #f1f1f1;
        height: 750px;
        padding: 80px 40px;
        border-radius: 15px 50px 50px 15px;
        float: right;
        margin-right: 15%;
        margin-top: 2%;
        transform: translate(0px,0px);
      }

      .form h1{
        text-align: center;
        margin-bottom: 30px;
      }

      .textbox{

        border-bottom: 2px solid #adadad;
        position: relative;
        margin: 30px 0;
      }

      .textbox input{
        font-size: 15px;
        color: #333;
        border: none;
        width: 100%;
        outline: none;
        background: none;
        padding: 0 5px;
        height: 40px;
      }

      .textbox span::before{
        content: attr(data-placeholder);
        position: absolute;
        top: 50%;
        left: 5px;
        color: #adadad;
        transform: translateY(-50%);
        z-index: -1;
        transition: .5s;
      }

      .focus + span::before{
        top: -5px;
      }
      .focus + span::after{
        width: 100%;
      }

      .submitbtn{
        border-radius: 25px;
        display: block;
        width: 100%;
        height: 50px;
        border: none;
        margin-top: 10px;
        background: linear-gradient(120deg,#751717,#556B2F,#556B2F);
        background-size: 200%;
        color: #fff;
        outline: none;
        cursor: pointer;
        transition: .5s;
      }

      .submitbtn:hover{
        background-position: right;
      }

      .bottom-text{
        margin-top: 60px;
        text-align: center;
        font-size: 13px;
      }



      table {
        width: 90%;
        margin: auto;

      }

      th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }

      #menu {
        border: solid;
        border-color:#556B2F;
        width: 440px;
        background: #f1f1f1;
        height: 750px;
        padding: 80px 40px;
        border-radius: 50px 15px 15px 50px;
        float: left;
        margin-left: 15%;
        margin-top: 2%;
        margin-bottom: 3%;
        transform: translate(0px,0px);
        display: inline;
      }

      #success{
        margin: 40px;
      }

      .time-head{
        margin: auto;
        margin-top: 30px;
        margin-left: 30px;
      }

      #addAllergies, #addGuest{
        border-radius: 25px;
        display: block;
        width: 100%;
        height: 50px;
        border: none;
        margin-top: 10px;
        background: linear-gradient(120deg,#751717,#556B2F,#556B2F);
        background-size: 200%;
        color: #fff;
        outline: none;
        cursor: pointer;
        transition: .5s;
      }

      #addAllergies:hover ,#addGuest:hover{
        background-position: right;
      }

      #menu p{
        margin: 10px;
        text-align: center;
        color: #751717;
        font-family: "Helvetica",sans-serif;
      }
      #menu #header{
        text-align: center;
        font-weight: bold;
        border-bottom: solid;
        color: #556B2F;

        font-family: "Helvetica",sans-serif;
      }

      #nm{
        margin-left: 15%;
        font-size: 40px;
        text-align: left;
        color: #751717;
        font-family: "Helvetica",sans-serif;
      }
      #allergens{
        float: left;

      }
      #note{
        float: left;
      }



    </style>
  </head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
  <%- include('../head'); -%>
  <body>
    <header>
      <%- include('../navbar'); -%>
    </header>
    <main>
      <%_ if (!admin) { -%>
        <%_ const waitlist = reservations.filter(reservation => reservation.time === "Waitlist" )  -%>
       <%_ if (waitlist.length < 1){ -%>
          <div id="success">

          </div>
        <p id ="nm"><%= menu.date.toDateString() -%> at <%= menu.location -%></p>
        <div id="menu" class="card">
          <p id="header">Appetizer</p>
          <p> <%= menu.appetizer -%></p>
          <p id="header">Main</p>
          <p> <%= menu.main -%></p>
          <p id="header">Side</p>
          <p><%= menu.side -%></p>
          <p id="header">Salad</p>
          <p> <%= menu.salad -%></p>
          <p id="header">Drink</p>
          <p> <%= menu.drink -%></p>
          <p id="header">Dessert</p>
          <p><%= menu.dessert -%></p>
          <p id="allergens">Allergens:</p>
          <%_ if (menu.dietaries[0]){-%>
              <img src="/alcohol.png" style="width:50px;height:50px;" id="dietary">
          <%_}-%>
          <%_ if (menu.dietaries[1]){-%>
              <img src="/crab.png" style="width:50px;height:50px;" id="dietary">
          <%_}-%>
          <%_ if (menu.dietaries[2]){-%>
              <img src="/egg.png" style="width:50px;height:50px;" id="dietary">
          <%_}-%>
          <%_ if (menu.dietaries[3]){-%>
              <img src="/fish.png" style="width:50px;height:50px;" id="dietary">
          <%_}-%>
          <%_ if (menu.dietaries[4]){-%>
              <img src="/gluten.png" style="width:50px;height:50px;" id="dietary">
          <%_}-%>
          <%_ if (menu.dietaries[5]){-%>
              <img src="/nuts.png" style="width:50px;height:50px;" id="dietary">
          <%_}-%>
          <%_ if (menu.dietaries[6]){-%>
              <img src="/peanut.png" style="width:50px;height:50px;" id="dietary">
          <%_}-%>
          <%_ if (menu.dietaries[7]){-%>
              <img src="/pork.png" style="width:50px;height:50px;" id="dietary">
          <%_}-%>
          <%_ if (menu.dietaries[8]){-%>
              <img src="/soy.png" style="width:50px;height:50px;" id="dietary">
          <%_}-%>
          <p id ="note">Note: <%= menu.note -%></p>
        </div>
        <form id="create" class="form">
          <h1>Reserve!</h1>
          <select name ="time" class="browser-default custom-select mb-4">
              <option value=""disabled selected>Time</option>
              <%_let wl = 0; -%>
              <%_ for (const time of menu.times) { -%>
                <%_ const rt = reservations.filter(reservation => reservation.time === time); -%>
                  <%_ if (rt.length < menu.capacity) {-%>
                    <%_ wl = 1; -%>
                    <option value="<%=time-%>"> <%= time-%> </option>
                  <%_ } -%>
              <%_ } -%>
              <%_ if (wl === 0) {-%>
                <option value="Waitlist">Waitlist</option>
              <%_ } -%>
          </select>

          <div class="textbox">
            <input type="text" name="name">
            <span data-placeholder="Name"></span>
          </div>

          <div id="email" class="textbox">
            <input type="text" name="email">
            <span data-placeholder="Email"></span>
          </div>

          <button id="addGuest" class="addtime">Add Guest</button>
          <!--
          <div class="textbox">
            <input type="number" name="h_chairs">
            <span data-placeholder="Number of high chairs"></span>
          </div>
          -->
          <button id="addAllergies" class="addallergies">Allergies</button>

          <button type="submit" class="submitbtn">Reserve</button>

        </form>
      <%_ }else{-%>
        <p>We are Sorry, We are fully booked for this event.</p>
      <%_ } -%>
      <%_ } -%>
      <%_ if (admin) { -%>
        <%_ menu.times.push("Waitlist"); -%>
        <%_ menu.times.push("Canceled"); -%>
        <%_ for (const time of menu.times) { -%>
          <h3 class="time-head"><%=time-%></h3>
          <table>
            <tr>
              <th>Name</th>
              <th>Email</th>
    	        <th>Guest name</th>
              <th>High-chairs</th>
              <th>Allergies</th>
              <th>Cancel</th>
            </tr>
            <%_ for (const reservation of reservations) { -%>
              <%_ if (time === reservation.time){ -%>
                <tr id="<%= reservation.id -%>">
                  <%_ if (reservation.time !== "Waitlist" && reservation.time !== "Canceled"){ -%>
                    <%_ if (reservation.checkin){ -%>
                      <td>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="checkin custom-control-input" id="<%= reservation.name -%>" checked>
                          <label class="custom-control-label" for="<%= reservation.name -%>"><%= reservation.name -%></label>
                        </div>
                      </td>
                    <%_} else{ -%>
                      <td>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="checkin custom-control-input" id="<%= reservation.name -%>">
                          <label class="custom-control-label" for="<%= reservation.name -%>"><%= reservation.name -%></label>
                        </div>
                      </td>
                    <%_ } -%>
                  <%_} else{ -%>
                    <td><%= reservation.name -%></td>
                  <%_ } -%>
                  <td> <%= reservation.email -%></td>
                  <td> <%= reservation.guestName -%></td>
                  <td> <%= reservation.h_chairs -%></td>
                  <td> <%= reservation.allergies -%></td>
                  <td>
              <span class="table-remove"><button type="button"
                  class="delete btn btn-danger btn-rounded btn-sm my-0">Cancel</button></span>
            </td>
                </tr>
              <%_ } -%>
            <%_ } -%>
            </table>
        <%_ } -%>
        <button type="submit" class="reminder">Reminder</button>
        <button type="submit" class="waitlist">Waitlist</button>
      <%_ } -%>
      </main>
    <script type="text/javascript">
    $("#create").on("focus", 'input',function(){
      $(this).addClass("focus");
    });

    $('.checkin').on('click', function(event) {
      const checkbox = $(this);
      const row = $(this).closest('tr');
      const id = row.attr("id");
      event.preventDefault();
      $.ajax({method: 'post', url: `/reservation/checkin/${id}`,data: checkbox.serialize()})
        .done(() => window.location.reload())
        .fail(error => alert(error.responseText));
    });


    $('.reminder').on('click', function(event) {
      event.preventDefault();
      $.ajax({method: 'post', url: '/mail/reminder'})
        .done(() => window.location.reload())
        .fail(error => alert(error.responseText));
    });
    $('.waitlist').on('click', function(event) {
      event.preventDefault();
      $.ajax({method: 'post', url: '/mail/waitlist'})
        .done(() => window.location.reload())
        .fail(error => alert(error.responseText));
    });

    $("#create").on("blur",'input',function(){
      if($(this).val() == "")
      $(this).removeClass("focus");
    });

    $('#create').on('submit', function(event) {
      const form = $(this);
      const menu = $('#menu')
      const header = $('#nm')
      event.preventDefault();
      $.ajax({method: 'post', url: '/reservations', data: form.serialize()})
        .done(function(){
          $('#success').append($(`
          <div id="alert1">

    <div class="alert alert-success alert-dismissible fade show">
        <strong>Success! You have successfully reserved a table.</strong>

        </div>

        </div>`
        ));
        form.remove();
        menu.remove();
        header.remove();
        })
        .fail(error => alert(error.responseText));


    });
    $(document).on('click','.close',function(event) {
      const form = $(this);
      event.preventDefault();
      $('#alert1').remove();
    });

    $('.delete').on('click', function(event) {
      const row = $(this).closest('tr');
      const id = row.attr("id");
      event.preventDefault();
      if(confirm("Are you sure you want to delete this reservation?")){
        $.ajax({method: 'delete', url: `/reservations/${id}`})
          .done(() => window.location.reload())
          .fail(error => alert(error.responseText));
      };
    });
    $('#addGuest').on('click', function(event) {
      const guestButton = $('#addGuest');
      event.preventDefault();

     $('#email').after($(`
       <div class="textbox">
         <input type="String" name="guestName">
         <span data-placeholder="Guest Name"></span>
       </div>
        `));
      guestButton.remove();
    });
    $('#addAllergies').on('click', function(event) {
      const allergyButton = $('#addAllergies');
      event.preventDefault();

     $('.submitbtn').before($(`
       <div class="textbox">
         <input type="text" name="allergies">
         <span data-placeholder="Food Allergies"></span>
       </div>
        `));
      allergyButton.remove();
    });
    </script>
  </body>
</html>
