<!DOCTYPE html>
<html>
  <head>
    <style>

    header {
          width: 100%;
          height: 10vh;
    }

    *{
      margin: 0;
      padding: 0;
      text-decoration: none;
    }


    #reminder{
      border: solid;
      border-color:#556B2F;
      width: 400px;
      background: #f1f1f1;
      padding: 80px 40px;
      border-radius: 50px;
      float: left;
      margin-left: 10%;
      margin-top: 5%;
      transform: translate(0px,0px);
      margin-bottom: 30px;
    }

    #waitlist{
      border: solid;
      border-color:#556B2F;
      width: 400px;
      background: #f1f1f1;
      padding: 80px 40px;
      border-radius: 50px;
      float: right;
      margin-right: 10%;
      margin-top: 5%;
      transform: translate(0px,0px);
      margin-bottom: 30px;
    }


    .reminder, .waitlist{
      border-radius: 25px;
      display: block;
      width: 100%;
      height: 50px;
      border: none;
      margin-top: 10px;
      background: linear-gradient(120deg,#751717,#556B2F,#556B2F);
      background-size: 200%;
      color: #fff;
      outline: none;
      cursor: pointer;
      transition: .5s;
    }

    .reminder:hover, .waitlist:hover{
      background-position: right;
    }

    textarea {
      width: 100%;
      height: 150px;
      padding: 12px 20px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      border-color: #751717;
      background-color: #f8f8f8;
      font-size: 16px;
      resize: none;
    }

    .textbox{
      margin-top: 5%;
      margin-bottom: 5%;
    }

    input{
      width: 100%;
      padding: 12px 20px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      border-color: #751717;
      background-color: #f8f8f8;
      font-size: 16px;
    }

    table {
      width: 90%;
      margin: auto;
    }

    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    #header{
      text-align: center;
      margin: auto;
      font-family: "Helvetica",sans-serif;
      color:#556B2F;
      font-size: 30px;
      font-weight: bold;
    }
    #EH{
      margin: auto;
      margin-left: 5%;
      margin-top: 3%;
      font-family: "Helvetica",sans-serif;
      color:#556B2F;
      font-size: 20px;
      font-weight: bold;
    }
    </style>
  </head>
  <%- include('../head'); -%>
  <body>
    <header>
    <%- include('../navbar'); -%>
    </header>
    <main>
      <p id="EH">Email History</p>
      <table>
        <tr>
          <th>Type</th>
          <th>Date & Time</th>
          <th>Admin</th>
        </tr>
        <%_ for (const mail of mails) { -%>
          <tr>
            <td><%= mail.type -%></td>
            <td><%= mail.date.toString().slice(0,24) -%></td>
            <td><%= mail.name -%></td>
          </tr>
        <%_ } -%>
      </table>
      <form id="reminder" class="form">
        <p id = "header">Reminder</p>

        <div class="textbox">
          <input name="name" type="text" placeholder="Admin Name">
        </div>
        <div id="note">
          <textarea placeholder="Note" name="note"></textarea>
        </div>

        <button type="submit" class="reminder">Send</button>
      </form>
      <form id="waitlist" class="form">
        <p id = "header">Invitation</p>

        <div class="textbox">
          <input name="name" type="text" placeholder="Admin Name">
        </div>
        <div id="note">
          <textarea placeholder="Note" name="note"></textarea>
        </div>

        <button type="submit" class="waitlist">Send</button>
      </form>
    </main>
    <script>
      $('.reminder').on('click', function(event) {
        const form = $('#reminder')
        event.preventDefault();
        $.ajax({method: 'post', url: '/mail/reminder', data: form.serialize()})
          .done(() => window.location.reload())
          .fail(error => alert(error.responseText));
      });

      $('.waitlist').on('click', function(event) {
        const form = $('#waitlist')
        event.preventDefault();
        $.ajax({method: 'post', url: '/mail/waitlist', data: form.serialize()})
          .done(() => window.location.reload())
          .fail(error => alert(error.responseText));
      });
    </script>
  </body>
</html>
